{% load static %}
<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <title>dspacing</title>
</head>


<body>





    <div class= "">

        {% include 'navbar.html' %}

        </div>

        <div class="flex flex-row p-4 py-16 justify-center">

            {% if messages %}
                {% for message in messages %}
                    <meta http-equiv="refresh" content="5;url={% url 'd_spacing:database_list' %}">

                    {% if message.tags == 'success' %}
                        <div class="bg-green-100 border border-green-600 text-green-600 px-4 py-3 rounded relative" role="alert">
                            {{ message }}</strong>
                        </div>
                    {% elif message.tags == 'warning' %}
                        <div class="bg-yellow-200 border border-yellow-400 text-red-500 px-4 py-3 rounded relative" role="alert">
                            {{ message }}</strong>
                        </div>
                    {% elif message.tags == 'error' %}
                        <div class=" bg-red-300 border border-red-600 text-red-600 px-4 py-3 rounded relative" role="alert">
                            {{ message }}</strong>
                        </div>
                    {% endif %}

                {% endfor %}
            {% endif %}

        </div>










    {% block content %}

    replace me
    {% endblock %}

</body>

</html>