<!-- <nav>
    <ul>
        <li><a href="/home/">Home</a></li>
        <li><a href="/database/">Materials information</a></li>
        <li><a href="/forms/">Add crystal structure information</a></li> -->
<!-- <li><a href="/hkl-crystal/"> d-spacing results</a></li> -->
<!-- </ul>
</nav> -->

<!-- <a href="/rango/home/"">Home</a> <br>
<a href="/rango/about/"">About </a> <br> -->

<nav
  class="fixed inset-x-0 bg-blue-900 flex-col main-nav sm:flex sm:mt-0 sm:flex-row"
>
    <div class="relative flex flex-col items-center justify-start flex-1 sm:flex-row">
      <a
        title=""
        href="{% url 'd_spacing:home'%}"
        class="py-2 text-white opacity-75 sm-4 sm:py-2 sm:px-4 sm:text-secondary hover:opacity-100"
        >Home</a
      >
      <div class="relative user">
        <a
          title=""
          href="{% url 'd_spacing:database_list'%}"
          class="block py-2 text-white opacity-75 sm:py-4 sm:px-4 sm:text-secondary hover:opacity-100"
          >Materials info
        </a>
      </div>

      <div class="relative user">
        <a
          title=""
          href="http://127.0.0.1:8000/admin/"
          class="block py-2 text-white opacity-75 sm:py-4 sm:px-4 sm:text-secondary hover:opacity-100"
        >
          Admin
        </a>
    

    {% comment %}
    <div
      class="absolute left-0 hidden opacity-0 pointer-events-none sm:block dropdown"
    >
      {% endcomment %}
      <!-- <div class="flex flex-col bg-white border border-gray-200 rounded-sm shadow-lg"><a
                        title="" href="/database/"
                        class="w-full px-6 py-2 text-sm opacity-75 text-secondary hover:opacity-100 whitespace-nowrap">Buttons</a>
                    <a title="" href="/components/Forms"
                        class="w-full px-6 py-2 text-sm opacity-75 text-secondary hover:opacity-100 whitespace-nowrap">Forms</a>
                    <a title="TailwindCSS Navigations" href="/components/Navigations"
                        class="w-full px-6 py-2 text-sm opacity-75 text-secondary hover:opacity-100 whitespace-nowrap">Navigations</a>
                    <a title="TailwindCSS Cards" href="/components/Cards"
                        class="w-full px-6 py-2 text-sm opacity-75 text-secondary hover:opacity-100 whitespace-nowrap">Cards</a>
                    <a title="TailwindCSS Widget" href="/components/Widget"
                        class="w-full px-6 py-2 text-sm opacity-75 text-secondary hover:opacity-100 whitespace-nowrap">Widget</a>
                    <a title="TailwindCSS Tables" href="/components/Tables"
                        class="w-full px-6 py-2 text-sm opacity-75 text-secondary hover:opacity-100 whitespace-nowrap">Tables</a>
                    <a title="TailwindCSS Layouts" href="/components/Layouts"
                        class="w-full px-6 py-2 text-sm opacity-75 text-secondary hover:opacity-100 whitespace-nowrap">Layouts</a>
                </div> -->
      {% comment %}
    </div>
    {% endcomment %}
  </div>
  {% comment %} <div
    class="flex flex-col items-center mt-2 sm:mt-0 sm:flex-row sm:border-l sm:border-gray-300"
  > {% endcomment %}
    <a
      rel="relative user"
      title=""
      href="{%url 'd_spacing:upload_cif_file'%}"
      class="block py-2 text-white opacity-75 sm:py-4 sm:px-4 sm:text-secondary hover:opacity-100"
      >Upload CIF
    </a>

  </div>

    {% comment %} <a
      rel="nofollow"
      title=""
      href="{% url 'd_spacing:crystal_data_create'%}"
      class="px-3 py-2 font-bold text-white rounded sm:ml-4 md:px-4 bg-primary hover:bg-teal-300"
      >Submit crystal structure info
    
    </a> {% endcomment %}
    
    
    {% if user.is_authenticated %}
    
    <a
      rel="nofollow"
      title=""
      href=""
      class="block py-2 font-bold text-white rounded sm:py-4 sm:px-4 bg-primary hover:bg-teal-300"
      >Hello!! {{user}}
    
    <a
      rel="nofollow"
      title="L'ogin Tailwind components"
      href="{% url 'account:account_logout' %}"
      class="block py-2  text-white opacity-75 sm:py-4 sm:px-4 sm:text-secondary hover:opacity-100 sm:mt-0"
      >Logout
    </a>
    </a>
    

    {% else %}

    <a
      rel=""
      title=""
      href="{% url 'account:account_register' %}"
      class="block py-2 text-white opacity-75 sm:py-4 sm:px-4 sm:text-secondary hover:opacity-100"
    >
      Register
    </a>

    <a
      rel=""
      title=""
      href="{% url 'account:account_login' %}"
      class="block py-2 text-white opacity-75 sm:py-4 sm:px-4 sm:text-secondary hover:opacity-100"
      >Login      
    </a>
    {% endif %}
  </div>
</nav>

<!-- <form action="/search" class="absolute top-0 right-0 hidden w-full mt-2 mr-12"><input type="search" name="query"
    placeholder="Press enter to search"
    class="w-full h-10 p-4 mr-4 text-sm text-gray-600 bg-white border border-gray-300 rounded focus:outline-none focus:border-gray-400 focus:ring-0">
</form> -->
