{% comment %} {% extends 'base.html' %}


{% block title %} list of crystals {% endblock title %}

{% block content %}


<!-- component  serach bar-->
<div class="py-2 pr-10 -my-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8">




    <div
        class="inline-block min-w-full px-12 pt-2 overflow-hidden align-middle bg-white rounded-bl-lg rounded-br-lg shadow shadow-dashboard">


        <table class="min-w-full">
            <thead>
                <tr>
                    <th
                        class="px-4 py-2 leading-4 tracking-wider text-left text-blue-500 border-b-2 border-gray-300 px-">
                        ID
                    </th>

                    <th
                        class="px-4 py-2 text-sm leading-4 tracking-wider text-left text-blue-500 border-b-2 border-gray-300">
                        Crystal Formula
                    </th>

                    <th
                        class="text-sm leading-4 tracking-wider text-left text-blue-500 border-b-2 border-gray-300 py-42 px-">
                        Crystal Name
                    </th>

                    <th
                        class="px-4 py-2 text-sm leading-4 tracking-wider text-left text-blue-500 border-b-2 border-gray-300">
                        Crystal Structure
                    </th>

                    <th
                        class="px-4 py-2 text-sm leading-4 tracking-wider text-left text-blue-500 border-b-2 border-gray-300">
                        Unit cell lengths
                    </th>

                    <th
                        class="px-4 py-2 text-sm leading-4 tracking-wider text-left text-blue-500 border-b-2 border-gray-300">
                        Unit cell angle
                    </th>

                    <th
                        class="px-4 py-2 text-sm leading-4 tracking-wider text-left text-blue-500 border-b-2 border-gray-300">
                        Get d Values
                    </th>


                </tr>
            </thead>



            <tbody class="bg-white"></tbody>

            {% for instance in object_list %}



            <tr>
                <td class="px-4 py-2 whitespace-no-wrap border-b border-gray-500">
                    <!-- <div class="flex items-center"> -->
                    <!-- <div> -->
                    <div class="text-sm leading-4 text-gray-800"><a href="{{ instance.id }}">{{ instance.id }}</a>
                    </div>
                    <!-- </div> -->
                    <!-- </div> -->
                </td>

                <td class="px-4 py-2 whitespace-no-wrap border-b border-gray-500">
                    <!-- <div class="flex items-center"> -->
                    <!-- <div> -->
                    <div class="text-sm leading-4 text-gray-800"><a
                            href="{{ instance.id }}">{{ instance.crystal_formula }}</a>
                    </div>
                    <!-- </div> -->
                    <!-- </div> -->
                </td>


                <td class="px-4 py-2 whitespace-no-wrap border-b border-gray-500">
                    <!-- <div class="flex items-center"> -->
                    <!-- <div> -->
                    <div class="text-sm leading-4 text-gray-800"><a
                            href="{{ instance.id }}">{{ instance.crystal_name }}</a>
                    </div>
                    <!-- </div> -->
                    <!-- </div> -->
                </td>

                <td class="px-4 py-2 text-sm leading-4 text-blue-900 whitespace-no-wrap border-b border-gray-500">
                    <span class="relative inline-block px-3 py-1 font-semibold leading-tight text-red-600">
                        <span aria-hidden class="absolute inset-0 bg-green-200 rounded-full opacity-50"></span>
                        <span class="relative text-xs"> {{ instance.crystal_system | upper}}</span>
                    </span>
                </td>


                <td class="px-4 py-2 text-sm leading-4 text-blue-900 whitespace-no-wrap border-b border-gray-500">
                    a = {{ instance.cell_length_a}}<br>
                    b = {{ instance.cell_length_b}}<br>
                    c = {{ instance.cell_length_c}}
                </td>

                <td class="px-4 py-2 text-sm leading-4 text-blue-900 whitespace-no-wrap border-b border-gray-500">
                    &alpha; = {{instance.cell_angle_alpha}}<br>
                    &beta; = {{instance.cell_angle_beta}}<br>
                    &gamma; = {{instance.cell_angle_gamma}}
                </td>


                <td
                    class="px-4 py-2 leading-4 text-right whitespace-no-wrap border-b border-gray-500 py- auto textuto-sm py-a">
                    <button
                        class="px-2 py-2 text-blue-500 transition duration-300 border border-blue-500 rounded hover:bg-blue-700 hover:text-white focus:outline-none">
                        <a href="{{ instance.id }}">Get d Values</a>

                    </button>
                </td>

                <td
                    class="px-4 py-2 leading-4 text-right whitespace-no-wrap border-b border-gray-500 py- auto textuto-sm py-a">
                    <button
                        class="px-2 py-2 text-blue-500 transition duration-300 border border-blue-500 rounded hover:bg-blue-700 hover:text-white focus:outline-none">
                        <a href=" /update/{{ instance.id }}">Edit</a>

                    </button>
                </td>

                <!-- <td
                    class="px-4 py-2 leading-4 text-right whitespace-no-wrap border-b border-gray-500 py- auto textuto-sm py-a">
                    <button
                        class="px-2 py-2 text-blue-500 transition duration-300 border border-blue-500 rounded hover:bg-blue-700 hover:text-white focus:outline-none">
                        <a href=" /delete/{{ instance.id }}">Delete</a>

                    </button>
                </td> -->


                {% endfor %}

                </tbody>
        </table>


        <div class="mt-4 sm:flex-1 sm:flex sm:items-center sm:justify-between work-sans">
            <div>
                <p class="text-sm leading-5 text-blue-700">
                    Showing
                    <span class="font-medium">1</span>
                    to
                    <span class="font-medium">200</span>
                    of
                    <span class="font-medium">2000</span>
                    results
                </p>
            </div>
            <div>
                <nav class="relative z-0 inline-flex shadow-sm">
                    <div>
                        <a href="#"
                            class="relative inline-flex items-center px-2 py-2 text-sm font-medium leading-5 text-gray-500 transition duration-150 ease-in-out bg-white border border-gray-300 rounded-l-md hover:text-gray-400 focus:z-10 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-100 active:text-gray-500"
                            aria-label="Previous" v-on:click.prevent="changePage(pagination.current_page - 1)">
                            <svg class="w-5 h-5" viewBox="0 0 20 20" fill="currentColor">
                                <path fill-rule="evenodd"
                                    d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
                                    clip-rule="evenodd" />
                            </svg>
                        </a>
                    </div>
                    <div>
                        <a href="#"
                            class="relative inline-flex items-center px-4 py-2 -ml-px text-sm font-medium leading-5 text-blue-700 transition duration-150 ease-in-out bg-white border border-gray-300 focus:z-10 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-tertiary active:text-gray-700 hover:bg-tertiary">
                            1
                        </a>
                        <a href="#"
                            class="relative inline-flex items-center px-4 py-2 -ml-px text-sm font-medium leading-5 text-blue-600 transition duration-150 ease-in-out bg-white border border-gray-300 focus:z-10 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-tertiary active:text-gray-700 hover:bg-tertiary">
                            2
                        </a>
                        <a href="#"
                            class="relative inline-flex items-center px-4 py-2 -ml-px text-sm font-medium leading-5 text-blue-600 transition duration-150 ease-in-out bg-white border border-gray-300 focus:z-10 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-tertiary active:text-gray-700 hover:bg-tertiary">
                            3
                        </a>
                    </div>
                    <div v-if="pagination.current_page < pagination.last_page">
                        <a href="#"
                            class="relative inline-flex items-center px-2 py-2 -ml-px text-sm font-medium leading-5 text-gray-500 transition duration-150 ease-in-out bg-white border border-gray-300 rounded-r-md hover:text-gray-400 focus:z-10 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-100 active:text-gray-500"
                            aria-label="Next">
                            <svg class="w-5 h-5" viewBox="0 0 20 20" fill="currentColor">
                                <path fill-rule="evenodd"
                                    d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                    clip-rule="evenodd" />
                            </svg>
                        </a>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>






{% endblock  %} {% endcomment %}
