<!-- <nav>
    <ul>
        <li><a href="/home/">Home</a></li>
        <li><a href="/database/">Materials information</a></li>
        <li><a href="/forms/">Add crystal structure information</a></li> -->
<!-- <li><a href="/hkl-crystal/"> d-spacing results</a></li> -->
<!-- </ul>
</nav> -->

<!-- <a href="/rango/home/"">Home</a> <br>
<a href="/rango/about/"">About </a> <br> -->



<nav class="relative flex-col justify-end flex-1 mt-12 bg-gray-700 main-nav sm:flex sm:mt-0 sm:flex-row">
    
    <div class="relative flex flex-col items-center justify-end flex-1 sm:flex-row"><a title="" href="/"
            class="py-2 text-white opacity-75 sm-4 sm:py-2 sm:px-4 sm:text-secondary hover:opacity-100">Home</a>
        <div class="relative user">
            <a title="" href="/database-search/"
                class="block py-2 text-white opacity-75 sm:py-4 sm:px-4 sm:text-secondary hover:opacity-100">Materials
                info
            </a>

        </div>

        <div class="relative user">
            <a title="" href="http://127.0.0.1:8000/admin/"
                class="block py-2 text-white opacity-75 sm:py-4 sm:px-4 sm:text-secondary hover:opacity-100"> Admin

            </a>

        </div>




        <div class="absolute left-0 hidden opacity-0 pointer-events-none sm:block dropdown">
            <!-- <div class="flex flex-col bg-white border border-gray-200 rounded-sm shadow-lg"><a
                        title="" href="/database/"
                        class="w-full px-6 py-2 text-sm opacity-75 text-secondary hover:opacity-100 whitespace-nowrap">Buttons</a>
                    <a title="" href="/components/Forms"
                        class="w-full px-6 py-2 text-sm opacity-75 text-secondary hover:opacity-100 whitespace-nowrap">Forms</a>
                    <a title="TailwindCSS Navigations" href="/components/Navigations"
                        class="w-full px-6 py-2 text-sm opacity-75 text-secondary hover:opacity-100 whitespace-nowrap">Navigations</a>
                    <a title="TailwindCSS Cards" href="/components/Cards"
                        class="w-full px-6 py-2 text-sm opacity-75 text-secondary hover:opacity-100 whitespace-nowrap">Cards</a>
                    <a title="TailwindCSS Widget" href="/components/Widget"
                        class="w-full px-6 py-2 text-sm opacity-75 text-secondary hover:opacity-100 whitespace-nowrap">Widget</a>
                    <a title="TailwindCSS Tables" href="/components/Tables"
                        class="w-full px-6 py-2 text-sm opacity-75 text-secondary hover:opacity-100 whitespace-nowrap">Tables</a>
                    <a title="TailwindCSS Layouts" href="/components/Layouts"
                        class="w-full px-6 py-2 text-sm opacity-75 text-secondary hover:opacity-100 whitespace-nowrap">Layouts</a>
                </div> -->
        </div>



    </div>
    <div class="flex flex-col items-center mt-2 sm:mt-0 sm:flex-row sm:border-l sm:border-gray-300">
        <a rel="nofollow" title="" href="/forms"
            class="px-3 py-2 font-bold text-white rounded sm:ml-4 md:px-4 bg-primary hover:bg-teal-300">Submit crystal
            structure info
        </a>

        <a rel="nofollow" title="Login Tailwind components" href=""
            class="px-5 py-2 mt-8 text-white opacity-75 sm:text-secondary hover:opacity-100 sm:mt-0">Login | Register</a>
            
           
    </div>
</nav>


<!-- <form action="/search" class="absolute top-0 right-0 hidden w-full mt-2 mr-12"><input type="search" name="query"
    placeholder="Press enter to search"
    class="w-full h-10 p-4 mr-4 text-sm text-gray-600 bg-white border border-gray-300 rounded focus:outline-none focus:border-gray-400 focus:ring-0">
</form> -->