{% extends 'base.html' %}




{% block content %}


<!-- {{object_list}} -->


<table style="width:90%">
    <tr>
        <td><b> Id </b></td>
        <td><b> Crystal formula </b> </td>
        <td><b> Crystal name </b></td>
        <td><b> Crystal system </b> </td>
        <td><b> Cell length a (nm) </b></td>
        <td><b> Cell length b (nm) </b></td>
        <td><b> Cell length c (nm)</b></td>
        <td><b> Angle &alpha; </b></td>
        <td><b> Angle &beta; </b></td>
        <td><b> Angle &gamma; </b></td>

    </tr>

    {% for object in object_list %}
    <tr>
        <td><a href="{{ object.id }}">{{ object.id }}</a></td>
        <!-- <td><a href="{{  object.crystal_formula }}">{{  object.crystal_formula }}</a></td> -->
        <td><a href="">{{ object.crystal_formula }}</a></td>
        <td><a href="">{{  object.crystal_name }}</a></td>
        <td>{{ object.crystal_system }}</td>
        <td>{{ object.cell_lenght_a}}</td>
        <td>{{ object.cell_lenght_b}}</td>
        <td>{{ object.cell_lenght_c}}</td>
        <td>{{ object.cell_angle_alpha}}</td>
        <td>{{ object.cell_angle_beta}}</td>
        <td>{{ object.cell_angle_gamma}}</td>



    </tr>

    {% endfor %}

</table>



</form>
<!--
<form action="list/" method="POST"> {% csrf_token %}

    <p class= "text-sm">
        Do you want to delte the Material "{{object_list.crystal_name}}" ?
     </p>


    <input  type="Submit"  value=" Yes object"> <a href='../'>Cancel</a>
</form> -->




<!-- http://127.0.0.1:8000/detail-view?id=1 -->

{% endblock  %}