{% extends 'base.html' %}
{% block content %}

<h1> Delete crystal data</h1>



<div>

    <form action="." method="POST"> {% csrf_token %}

        <p class= "text-lg"> </p>

        <div class = "flex flex-shrink text-lg px-52 py-36 text-center">

            Do you want to delete the Material "{{object.crystal_name}} , {{object.cif_file}}" ?


            <div class="  py-20 leading-2 text-left whitespace-no-wrap text-lg">

                <!-- <table>
                    <thead>
                        <tr>
                            <th>Select</th>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Formula</th>
                            <th>System</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for crystal_data in object_list %}
                        <tr>
                            <td><input type="checkbox" name="selected_ids" value="{{ crystal_data.id }}"></td>
                            <td>{{ crystal_data.id }}</td>
                            <td>{{ crystal_data.crystal_name }}</td>
                            <td>{{ crystal_data.crystal_formula }}</td>
                            <td>{{ crystal_data.crystal_system }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table> -->


                <button type ="Submit" class="px-2 py-2 text-blue-500 transition duration-300 border border-blue-500 rounded hover:bg-blue-700 hover:text-white focus:outline-none"> Delete

                </button>

                <button  class="px-2 py-2 text-blue-500 transition duration-300 border border-blue-500 rounded hover:bg-blue-700 hover:text-white focus:outline-none">

                    <a href="{%url 'd_spacing:user_database_list'%}">Cancel</a>

                </button>
            </div>
        </div>


        </div>
    </form>





{% endblock %}