{% extends "base.html" %}
{% comment %} {% extends "admin/base_site.html" %}
{% load i18n %} {% endcomment %}

{% comment %} {% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
&rsaquo; {% translate 'Password reset' %}
</div>
{% endblock %}

{% block title %}{{ title }}{% endblock %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock %} {% endcomment %}

{% block content %}

Your password has been set.  You may go ahead and log in now.

<a href="{% url 'account:account_login' %}">Log in </a>

{% endblock %}
